<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
     integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
     integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
     integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form method="POST" action="" enctype="multipart/form-data" style="margin-top: 150px;">{% csrf_token %}
                    <div class="form-group">
                        <label for="domain">Domain name:</label>
                        <input type="text" required name="name" class="form-control" id="domain" placeholder="Domain">
                    </div>
                    <div class="form-group">
                        <label for="file">Keyword file:</label>
                        <input accept=".csv" required type="file" name="file" class="form-control-file" id="file">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-6">
                <div style="margin-top: 150px; padding: 50px;">
                    {% if brand_name %}
                        <ul style="list-style:none;">
                            <li>Domain name: {{ name }}</li>
                            
                            <li>Brand name: {{ brand_name }}</li>
                            <li>Number of phrases: {{ phrases }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>